<head>
  <link rel="icon" href="{{ site.favicon_png }}" type="image/png">
  <style>
    .nav-logo img {
      max-height: 10px; /* Adjust height as needed */
      vertical-align: middle;
    }

    nav {
      display: flex;
      align-items: center;
    }

    nav a {
      text-decoration: none;
      color: inherit;
      margin-left: 1rem;
    }

    nav a.selected {
      font-weight: bold;
    }
  </style>
</head>

<nav>
  <div class="nav-logo">
    <a href="{{ '/' | relative_url }}">
      <img src="{{ site.logo }}" alt="{{ site.title }}">
    </a>
  </div>
  {%- for item in site.navigation -%}
    {%- assign node = site.pages | where: "name", item.file | first -%}
    {%- assign url = item.url | default: node.url -%}
    {%- assign title = item.title | default: node.title | default: item.file | split: '.' | first -%}
    <a href="{{ url | relative_url }}" {% if url == page.url %}class="selected"{% endif %}>
      {%- if item.icon -%}
        <svg aria-label="{{ title }}" class="icon">
          <use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{ item.icon }}"></use>
        </svg>
      {%- else -%}
        {{ title }}
      {%- endif %} 
    </a>
  {%- endfor -%}
</nav>
