/* Reset and general styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: 'Fredoka One', Arial, sans-serif;
    line-height: 1.6;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.container p{
    
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;

}

header, footer {
    background-color: #222;
    color: #fff;
    padding: 10px 0;
    transition: padding 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-family: 'Fredoka One', Arial, sans-serif;
    font-size: 2em;
    text-align: center;
}

nav ul {
    
    list-style-type: none;
    text-align: center;
    margin-top: 10px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #111;
}

.hero {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-family: 'Fredoka One', Arial, sans-serif;
    font-size: 3em;
    margin-bottom: 20px;
}

.content {
    padding: 40px 0;
    
}

.article-details {
    background-color: #444; /* Adjusted darker background for article details */
    color: #fff; /* Adjusted text color for article details */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    
}

.article-details h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #fff; /* White text for headings */
}

.article-details p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #ccc; /* Light gray text for content */
    text-align: center;

    margin-bottom: 10px;
}

.article-details ul,
.article-details ol {
    margin-bottom: 10px;
}

.read-more-btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #222;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Fredoka One', sans-serif;
    margin-top: 20px;
}

.read-more-btn:hover {
    background-color: #555;
}

footer {
    background-color: #222;
    color: #ccc;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}

footer p {
    text-align: center;

    margin: 10px 0;
}

/* Responsive adjustments */
@media (max-width: 576px) {
    .container {
        padding: 0 10px; /* Adjusted container padding for smaller screens */
    }

    header h1 {
        font-size: 1.8em; /* Smaller font size for header on smaller screens */
    }

    .hero h2 {
        font-size: 2em; /* Smaller font size for hero text on smaller screens */
    }

    nav ul li a {
        padding: 8px 12px; /* Smaller padding for navigation links on smaller screens */
    }
}

@media (max-width: 768px) {
    header {
        text-align: center;
        padding: 16px 0;
    }

    nav ul {
        text-align: center;
        margin-top: 10px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    nav ul li a {
        padding: 8px 16px; /* Adjusted padding for navigation links on medium screens */
        font-size: 1em; /* Adjusted font size for navigation links on medium screens */
    }

    .hero h2 {
        font-size: 2.5em; /* Adjusted font size for hero text on medium screens */
    }

    .article-details {
        
        padding: 15px; /* Adjusted padding for article details on medium screens */
    }

    .article-details h3 {
        font-size: 1.5em; /* Adjusted font size for article headings on medium screens */
    }

    .article-details p {
        
        font-size: 1em; /* Adjusted font size for article content on medium screens */
    }

    .read-more-btn {
        padding: 10px 20px; /* Adjusted padding for read more button on medium screens */
        font-size: 0.9em; /* Adjusted font size for read more button on medium screens */
    }
}

.article-content ul li{
    padding: 5px; /* Adjust padding inside article content */
    margin-left: 20px; /* Add margin at the top of article content */
    margin-bottom: 5px; /* Add margin at the bottom of article content */
}

.article-content h3{
    padding: 5px; /* Adjust padding inside article content */
    text-align: center;

    margin: 0px;
}

.article-content h3{
    padding: 5px; /* Adjust padding inside article content */
    text-align: center;

    margin: 0px;
}

.article-content p{
    padding: 5px; /* Adjust padding inside article content */
    text-align: center;

    margin: 0px;
}
